# Lists and tuples

#### Basic list operations

In [23]:
students = ["Johnette", "Brandi", "Adele", "Emily", "Amy"]

for student in students:
    print(student)
print("Loop is done")

Johnette
Brandi
Adele
Emily
Amy
Loop is done

#### Find value in a list

In [21]:
has_amy = "Amy" in students
print(f"Amy is in the list: {has_amy}")

has_chris = "Chris" in students
print(f"Chris is in the list: {has_chris}")

print(f"The length of the list is", len(students))

Amy is in the list: True
Chris is in the list: False
The length of the list is 8

#### Append to a list

In [18]:
students.append("Janis")
new_student = "Idina"
students.append(new_student)

for student in students:
    print(student)
print("Loop is done")

print(f"The length of the list is", len(students))

Johnette
Brandi
Adele
Carole
Amy
Janis
Janis
Idina
Loop is done
The length of the list is 8

#### Add a name to the list

In [17]:
student_name = "Janis"
if student_name in students:
    print(f"{student_name} is in the list")
else:
    print(f"{student_name} is not in the list and will be added to the list.")
    students.append(student_name)

print(students)

Janis is not in the list and will be added to the list.
['Johnette', 'Brandi', 'Adele', 'Carole', 'Amy', 'Janis']

#### Add a value to the list in a particular position

In [18]:
# Create a list of students
student_name = "Carole"
# Add student to the front of the list
students.insert(0, student_name)
# Print the new list
print(students)

['Cosmo', 'Mark', 'Thomas', 'Holly', 'Heather', 'Julie', 'Cosmo', 'Bunny', 'Amanda', 'Cosmo', 'Bunny', 'Cosmo', 'Bunny', 'Cosmo', 'Bunny']

#### Change the value of a list item

In [16]:
# Create a list of students
students = ["Johnette", "Brandi", "Adele", "Emily", "Amy"]
students[3] = "Carole"
# Print the list
print(students)

['Johnette', 'Brandi', 'Adele', 'Carole', 'Amy']

#### Append lists

In [12]:
# Create two lists of names
list1 = ["Johnette", "Brandi", "Adele", "Emily", "Amy"]
list2 = ["Cosmo", "Bunny", "Toby", "Champ", "Dolly"]
# Add list1 to list2 using plus sign
list3  = list1 + list2
# Add list1 to list2 using extend method
list1.extend(list2)
print(f"List 1 contents: {list1}")
print(f"List 2 contents: {list2}")
print(f"List 3 contents: {list3}")

List 1 contents: ['Johnette', 'Brandi', 'Adele', 'Emily', 'Amy', 'Cosmo', 'Bunny', 'Toby', 'Champ', 'Dolly']
List 2 contents: ['Cosmo', 'Bunny', 'Toby', 'Champ', 'Dolly']
List 3 contents: ['Johnette', 'Brandi', 'Adele', 'Emily', 'Amy', 'Cosmo', 'Bunny', 'Toby', 'Champ', 'Dolly']

#### Remove a value from a list (first instance)

In [21]:
# Create a list of strings
letters = ["A", "B", "C", "D", "C", "E", "C"]
# Remove letter 'C' - this only removes the firt occurance of the letter
letters.remove("C")
print(letters)

['A', 'B', 'D', 'C', 'E', 'C']

#### Remove a value from a list (all instances)

In [22]:
# Remove all instances of a letter
letters = ["A", "B", "C", "D", "C", "E", "C"]
while "C" in letters:
    letters.remove("C")
print(letters)

['A', 'B', 'D', 'E']

#### Remove first and last value from a list (discard values)

In [23]:
# Remove first and last entries in a list
letters = ["A", "B", "C", "D", "E", "F", "G"]
print(f"Original list: {letters}")

# Remove the first letter
letters.pop(0)

# Remove the last letter
letters.pop()

print(f"New list: {letters}")

Original list: ['A', 'B', 'C', 'D', 'E', 'F', 'G']
New list: ['B', 'C', 'D', 'E', 'F']

#### Remove first and last value from a list (keep values)

In [24]:
# Remove first and last entries in a list but keep the values
letters = ["A", "B", "C", "D", "E", "F", "G"]
print(f"Original list: {letters}")

# Remove the first letter
first_removed = letters.pop(0)

# Remove the last letter
last_removed = letters.pop()

print(f"New list: {letters}")
print(f"First letter removed: {first_removed}")
print(f"Last letter removed: {last_removed}")

Original list: ['A', 'B', 'C', 'D', 'E', 'F', 'G']
New list: ['B', 'C', 'D', 'E', 'F']
First letter removed: A
Last letter removed: G

#### Remove item from a list using del

In [25]:
# Remove an item from the list using del
letters = ["A", "B", "C", "D", "E", "F", "G"]

# Remove item at position 2 - remember the list starts counting at zero
del letters[2]
print(letters)

['A', 'B', 'D', 'E', 'F', 'G']

#### Remove entire list using del

In [11]:
# Remove the entire list using del
letters = ["A", "B", "C", "D", "E", "F", "G"]
del letters

# Expect an error if run because the list has been deleted
# print(letters)

#### Clear entire list, keeping reference to variable

In [27]:
# Clear out the contents of a list using clear but keep the list
letters = ["A", "B", "C", "D", "E", "F", "G"]

# Clear out all the entries
letters.clear()
print (letters)

[]

#### Count the number of times a value appears in a list

In [30]:
# Create a list of grades
grades = ["C","B","A","D","C","B","C"]

# Count the number of times a grade appears in the list
b_grades = grades.count("B")

# Use a variable for value to count
look_for = "C"
c_grades = grades.count(look_for)

# Print the results.
if grades.count("A") == 1:
    print(f"There is 1 A grade in the list")
else:
    print(f"There are", grades.count("A"),"A grades in the list")

if grades.count("B") == 1:
    print(f"There is 1 B grade in the list")  
else:      
    print(f"There are",  str(b_grades), "B grades in the list")

if grades.count("C") == 1: 
    print(f"There is 1 C grade in the list")  
else:
    print(f"There are", str(c_grades), look_for, "grades in the list")

if grades.count("D") == 1:   
    print(f"There is 1 D grade in the list")  
else:      
    print(f"There are", grades.count("D"),"D grades in the list")

if grades.count("F") == 1:   
    print(f"There is 1 F grade in the list")  
else:       
    print(f"There are", grades.count("F"),"F grades in the list")

There is 1 A grade in the list
There are 2 B grades in the list
There are 3 C grades in the list
There is 1 D grade in the list
There are 0 F grades in the list

#### Find value's position in a list

In [9]:
# Create a list of grades
grades = ["C","B","A","D","C","B","C"]

# Count the number of times a grade appears in the list
b_grades = grades.index("B")

# Use a variable for value to find
look_for = "A"
f_index = grades.index(look_for)

# Print the results - will error out when a grade is not in the list
print(f"The first B in the list is at index " + str(b_grades) + ".")
print(f"The first " + look_for + " is at index " + str(f_index) + ".")

The first B in the list is at index 1.
The first A is at index 2.

#### Handle error when finding value's position in a list

In [33]:
# Create a list of grades
grades = ["C","B","A","D","C","B","C"]
# Use a variable for value to find
look_for = "F"
if look_for in grades:
    print(f"The first '" + look_for + " 'is at index " + str(grades.index(look_for)) + ".")
else:
    print(f"The letter '" + look_for + "' was not found.")

The letter 'F' was not found.

#### orting lists - strings and number

In [4]:
# Create a list of names
names = ["Cosmo", "Bunny", "Toby", "Champ", "Dolly"]
numbers = [14, 0, 56, -4, 99, 56, 11.23]

# Sort the names list
names.sort()
# Sort the numbers list
numbers.sort()

# Show the results
print(names)
print(numbers)

# If using upper/lower case and the list doesn't sort correctly, use names.sort(key=lamba x: x.lower())

['Bunny', 'Champ', 'Cosmo', 'Dolly', 'Toby']
[-4, 0, 11.23, 14, 56, 56, 99]

#### Sorting lists by dates

In [36]:
import datetime as dt
# One way to create the list but it's not very readable
dates = [dt.date(2020, 1, 1), dt.date(2020, 1, 2), dt.date(2020, 1, 3), dt.date(2020, 1, 4), dt.date(2020, 1, 5)]

# Here's a cleaner way to create the list
datelist = []
# Append the dates
datelist.append(dt.date(2020, 1, 1))
datelist.append(dt.date(2018, 12, 22))
datelist.append(dt.date(2017, 5, 7))
datelist.append(dt.date(2021, 3, 14))
datelist.append(dt.date(1964, 4, 22))
# Ascending sort
datelist.sort() 
# Descending sort
datelist.sort(reverse=True) 

for date in datelist:
    print(f"{date:%m/%d/%Y}")

03/14/2021
01/01/2020
12/22/2018
05/07/2017
04/22/1964

#### Reverse sorting of lists

In [3]:
# Create a list of names
names = ["Cosmo", "Bunny", "Toby", "Champ", "Dolly"]
numbers = [14, 0, 56, -4, 99, 56, 11.23]

# Sort the names list
names.sort(reverse=True)
# Sort the numbers list
numbers.sort(reverse=True)  

# Show the results
print(names)
print(numbers)

['Toby', 'Dolly', 'Cosmo', 'Champ', 'Bunny']
[99, 56, 56, 14, 11.23, 0, -4]

#### Reverse ordering of lists

In [2]:
names = ["Cosmo", "Bunny", "Toby", "Champ", "Dolly"]

# Reverse the order of the list
names.reverse()
print(names)

['Dolly', 'Champ', 'Toby', 'Bunny', 'Cosmo']

#### Copying a list

In [1]:
# Create a list of strings
names = ["Cosmo", "Bunny", "Toby", "Champ", "Dolly"]

# Make a copy of the list
backward_names = names.copy()

# Reverse the copy
backward_names.reverse()

# Print the original list
print(names)

# Print the reversed copy
print(backward_names)

['Cosmo', 'Bunny', 'Toby', 'Champ', 'Dolly']
['Dolly', 'Champ', 'Toby', 'Bunny', 'Cosmo']

#### List comprehension

In [41]:
# Simple list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8 ,9, 10]

# Identical list of numbers
same_numbers = [number for number in numbers]
print(same_numbers) 

# Even numbers only from the list
even_numbers = [number for number in numbers if number % 2 == 0]
print(even_numbers)

# Odd numbers only from the list
odd_numbers = [number for number in numbers if number % 2 != 0]
print(odd_numbers)

# All numbers squared
squared_numbers = [number ** 2 for number in numbers]
print(squared_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Tuples

In [42]:
# ######### Definitiuon: values cannot be changed once defined #########
# ######### Syntax is the same as a list but uses parens instead of square brackets #########

prices = (29.95, 9.98, 4.95, 79.98, 1.98)

# Find length of tuple
print(len(prices))

# Print the tuple
print(prices)

# Count the number of times a value appears in the tuple
print(prices.count(9.98))

# Find out if a value is in the tuple
print(4.95 in prices)

# Check if a value is in the tuple
look_for = 4.95
if look_for in prices:
    position = prices.index(look_for)
else:
    position = -1
print(f"{look_for} is in position " + str(position) + " of the tuple.")

# Loop through and display each item as currency
for price in prices:
    print(f"${price:.2f}")

5
(29.95, 9.98, 4.95, 79.98, 1.98)
1
True
4.95 is in position 2 of the tuple.
$29.95
$9.98
$4.95
$79.98
$1.98

#### Sets

In [44]:
# ######### Definitiuon: a list with items in no specific order #########
# ######### - You cannot get an item in the set based on it's index number #########
# ######### - You cannot change the order of the items in a set (sort and revserse won't work either) #########
# ######### - A value can only appear once in a set.  If you try to add it again, it won't be added #########
# ######### Syntax is the same as a list but uses curly brackets instead of square brackets #########

sample_set = {1.98, 98.9, 74.95, 2.5, 1, 16.3}
# Find length of set
print(len(sample_set))

# Add an item to the set
sample_set.add(11.23)

# Add multiple items to the set
sample_set.update([88, 123.45, 2.98])

# Show the whole set
print("\nSample set after applying .add and .update")
print(sample_set)

6

Sample set after applying .add and .update
{1.98, 2.5, 1, 2.98, 74.95, 11.23, 16.3, 88, 98.9, 123.45}

#### Copy a set

In [46]:
# Copy the set.  Because there's no fixed position for each item, the copied set may appear in a different order then the original set.
sample_set = {1.98, 98.9, 74.95, 2.5, 1, 16.3}

# Show the whole set
print("Original set")
print(sample_set)

# Make a copy and show the new set
new_set = sample_set.copy()
print("\nNew set after copying")
print(new_set)

find_num = 74.95
# find_num = 12345
if find_num in sample_set:
    print("\n" + str(find_num) + " is in the set.")
else:
    print("\n" + str(find_num) + " is not in the set.\n")

# Loop through the set and print each value, right aligned
for price in sample_set:
    print(f"{price:>6.2f}")

Original set
{16.3, 1.98, 98.9, 2.5, 1, 74.95}

New set after copying
{16.3, 1.98, 98.9, 2.5, 1, 74.95}

74.95 is in the set.
 16.30
  1.98
 98.90
  2.50
  1.00
 74.95